@import url("reset.css");
/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-secodery-background: #ececec;
  --muted-main-color: #e9e6e6;
  --muted-secondery-color: #fafafa;
  --main-transition-duration: 0.3s;
  --main-animation-duration: 3s;
  --section-top-padding: 100px;
  --section-bottom-padding: 100px;
  --section-top-margin: 140px;
  --section-bottom-margin: 140px;
}
body {
  font-family: Cairo;
}
/* End Variables */
/* Start Global Rules */
section,
.section {
  padding-top: var(--section-top-padding);
  padding-bottom: var(--section-bottom-padding);
}
/* End Global Rules */
/* Start Componnets */
.main-title {
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  border: 2px solid black;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .main-title {
    font-size: 14px;
  }
}
.main-title:hover {
  color: white;
  border-color: white;
  transition-property: all;
  transition-delay: var(--main-animation-duration);
  transition-duration: var(--main-transition-duration);
}
.main-title::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
.main-title::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
}
.main-title:hover::after {
  animation-name: fill-title-right;
}
.main-title:hover::before {
  animation-name: fill-title-left;
}
.main-title:hover::before,
.main-title:hover::after {
  animation-duration: var(--main-animation-duration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes fill-title-left {
  50% {
    left: 0;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes fill-title-right {
  50% {
    right: 0;
    width: 14px;
    height: 14px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
/* End Componnets */
/* Start Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Container */

/* Start header */
header {
  box-shadow: 0 0px 15px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .container .logo {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  color: var(--main-color);
}

@media (max-width: 767px) {
  header .container .logo {
    min-height: 50px;
    width: 100%;
  }
}
header .container .logo a {
  color: var(--main-color);
  min-height: 100%;
}

header .container nav {
  align-self: stretch;
}

@media (max-width: 767px) {
  header .container nav {
    margin: 0 auto;
  }
}
header .container nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

header .container nav > ul > li > a {
  height: 100%;
  font-weight: 700;
  min-height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
  color: black;
  transition-property: all;
  transition-duration: var(--main-transition-duration);
}

header .container nav > ul > li > a:hover,
header .container nav > ul > li > a.active-link {
  color: var(--main-color);
  background-color: var(--muted-secondery-color);
}

header .container nav > ul > li > a:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  transition-property: left;
  transition-duration: var(--main-transition-duration);
}

header .container nav > ul > li > a:hover:after,
header .container nav > ul > li > a.active-link:after {
  left: 0;
}

@media (max-width: 767px) {
  header .container nav ul li a {
    padding: 20px 10px;
  }
}

/* Start menu */
.menu {
  position: absolute;
  top: calc(100% + 40px);
  opacity: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 300px;
  border-bottom: 4px solid var(--main-color);
  padding: 40px;
  border-radius: 4px;
  transition: var(--main-transition-duration);
  overflow: hidden;
  z-index: 0;
}

@media (max-width: 767px) {
  .menu {
    flex-direction: column;
    gap: 0;
    padding: 10px;
  }
}
.menu.toggle-show {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 1;
}

header .container nav > ul > li:last-child:hover .menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 1;
}
.menu .image img {
  width: 400px;
}
@media (max-width: 991px) {
  .menu .image {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu ul {
    flex: 1;
  }
}

.menu ul {
  flex-grow: 1;
  position: relative;
}

@media (max-width: 767px) {
  .menu ul {
    width: 100%;
  }
  .menu ul:first-of-type li:last-child {
    border-bottom: 2px solid var(--muted-main-color);
  }
}

.menu ul:first-of-type::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 2px;
  height: 100%;
  background-color: var(--muted-secondery-color);
}
.menu ul li {
  min-width: 140px;
  width: 100%;
  margin: 10px 20px;
  padding: 10px 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  .menu ul li {
    min-width: 140px;
  }
}
.menu ul li i {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .menu ul li {
    width: 100%;
  }
}

.menu ul li:hover {
  color: var(--main-color-alt);
}

.menu ul li::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--muted-secondery-color);
  transition: var(--main-transition-duration);
  z-index: -1;
}

.menu ul li:hover::before {
  left: 0;
}

.menu ul li a {
  color: var(--main-color);
}
.menu ul li:not(:last-child) {
  border-bottom: 2px solid var(--muted-main-color);
}

/* End menu */
/* End Header */
/* Start Landing */
.landing {
  height: calc(100vh - 70px);
  overflow: hidden;
  position: relative;
}
.landing::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--section-secodery-background);
  z-index: -1;
  transform: skewY(-8deg);
  transform-origin: top left;
}
@media (max-width: 767px) {
  .landing::after {
    top: -80px;
  }
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  min-height: 100%;
}
.landing .container .content {
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .container .content {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .landing .container .content {
    text-align: center;
    margin: 0 auto;
  }
}

.landing .container .content h1 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 15px;
}

.landing .container .content p {
  text-transform: capitalize;
  margin-bottom: 10px;
  line-height: 1.7;
  font-size: 23px;
  color: #666;
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .container .content h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
  }
  .landing .container .content p {
    font-size: 16px;
    text-align: center;
  }
}
.landing .container .image {
  margin: 0 auto;
  animation-name: move-up-and-down;
  animation-duration: var(--main-animation-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}
.landing .container .image img {
  width: 750px;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .landing .container .image img {
    display: none;
  }
}
.landing .down-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  font-size: 18px;
  animation-name: bouncing;
  animation-duration: calc(var(--main-animation-duration) / 1.5);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@media (max-width: 767px) {
  .landing .down-arrow {
    bottom: 80px;
    font-size: 10px;
  }
}

.landing .down-arrow i {
  font-style: normal;
  color: var(--main-color);
  transition: color var(--main-animation-duration);
}

.landing .down-arrow:hover i {
  color: var(--main-color-alt);
}

/* Start Animation */
@keyframes move-up-and-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
@keyframes bouncing {
  0%,
  10%,
  30%,
  60%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }
  40%,
  90%,
  100% {
    transform: translate(-50%, -20px);
  }
}
/* End Animation */
/* End Landing */
/* Start Articles */
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.articles .container .box {
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
  transition-property: all;
  transition-duration: var(--main-transition-duration);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 60%);
}
.articles .container .box .image img {
  border-radius: 4px;
}
.articles .container .box .content {
  padding: 20px;
  border-bottom: 1px solid #ececec;
}

.articles .container .box .content h2 {
  margin-bottom: 10px;
}
.articles .container .box .content p {
  line-height: 1.4;
  color: #777;
}
.articles .container .box .info {
  padding: 20px;
}

.articles .container .box .info a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}
.articles .container .box .info a p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.articles .container .box:hover .info a i {
  animation-name: to-right;
  animation-duration: calc(var(--main-transition-duration) * 4);
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes to-right {
  100% {
    transform: translateX(10px);
  }
}
/* End Articles */
/* Start Gallery */
.gallery {
  background: var(--section-secodery-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
}
@media (max-width: 767px) {
  .gallery .container {
    row-gap: 20px;
  }
}
.gallery .container .box {
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 30%);
}

.gallery .container .box:hover {
  box-shadow: 0 2px 15px rgb(0 0 0 / 60%);
}

.gallery .container .box:hover .image img {
  transform: scale(1.2) rotate(6deg);
}
.gallery .container .image img {
  transition: transform var(--main-transition-duration);
}

.gallery .container .image {
  position: relative;
  overflow: hidden;
}

.gallery .container .image:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgb(255 255 255 / 10%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.gallery .container .image:hover:before {
  animation-name: flashing;
  animation-duration: calc(var(--main-animation-duration) / 3);
  animation-timing-function: ease-in;
}
/* Start Animation */
@keyframes flashing {
  0%,
  30% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/* End Animation */
/* End Gallery */
/* Start Features */
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  text-align: center;
  border: 2px solid #ccc;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 30%);
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features .container .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .box .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .container .box.quality .image::before {
  background-color: rgb(244 64 54 / 40%);
}
.features .container .box.time .image::before {
  background-color: rgb(0 150 136 / 40%);
}
.features .container .box.passion .image::before {
  background-color: rgb(3 169 244 / 40%);
}
/* Skew Method:                                    */
/* ================================================*/
/* .features .container .box .image::after { */
/*   content: ""; */
/*   position: absolute; */
/*   bottom: -30px; */
/*   left: 0; */
/*   width: calc(100% + 20px); */
/*   height: 50%; */
/*   transform: skewY(-20deg); */
/*   transform-origin: bottom right; */
/*   background: white; */
/*   transition: var(--main-transition-duration); */
/* } */
/**/
/* .features .container .box:hover .image::after { */
/*   transform: skewY(20deg); */
/*   transform-origin: bottom left; */
/* } */
/* Border Method:                                   */
/* ================================================*/
.features .container .box .image::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  border-width: 0 0 140px 380px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  transition-property: all;
  transition-duration: var(--main-transition-duration);
}
.features .container .box:hover .image::after {
  border-width: 0 380px 140px 0;
  border-color: transparent transparent white transparent;
  border-style: solid;
}

.features .container .box h2,
.features .container .box p,
.features .container .box a {
  display: block;
  padding: 10px 40px;
}

.features .container .box h2 {
  padding: 10px 30px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.features .container .box h2:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -10px;
  width: calc(100% - 60px);
  height: 4px;
  background: #ccc;
}
.features .container .box.quality h2 {
  color: #f44036;
}
.features .container .box.quality h2:after {
  background-color: #f44036;
}
.features .container .box.time h2 {
  color: #009688;
}
.features .container .box.time h2:after {
  background-color: #009688;
}
.features .container .box.passion h2 {
  color: #03a9f4;
}
.features .container .box.passion h2:after {
  background-color: #03a9f4;
}
.features .container .box p {
  line-height: 1.7;
  font-size: 18px;
  color: #666;
}

.features .container .box a {
  padding: 10px 30px;
  margin: 20px auto;
  border: 4px solid #000;
  color: #000;
  width: fit-content;
  font-size: 24px;
  font-weight: 800;
  border-radius: 6px;
  transition: var(--main-transition-duration);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right center;
}
.features .container .box.quality a {
  border-color: #f44036;
  color: #f44036;
}
.features .container .box.time a {
  border-color: #009688;
  color: #009688;
}
.features .container .box.passion a {
  border-color: #03a9f4;
  color: #03a9f4;
}
.features .container .box:hover a {
  background-position: left center;
  color: white;
}

.features .container .box.quality:hover a {
  background-image: linear-gradient(to right, #f44036 50%, white 50%);
}
.features .container .box.time:hover a {
  background-image: linear-gradient(to right, #009688 50%, white 50%);
}
.features .container .box.passion:hover a {
  background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
}
/* End Features */
/* Start Testimonails */
.testimonails {
  background-color: var(--section-secodery-background);
}
.testimonails .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 40px;
  row-gap: 20px;
}
@media (max-width: 767px) {
  .testimonails .container {
    row-gap: 50px;
  }
}
.testimonails .container .box {
  background: white;
  padding: 20px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0px 15px 0px rgb(0 0 0 / 30%);
}

.testimonails .container .box img {
  position: absolute;
  width: 100px;
  border-radius: 50%;
  border: 15px solid var(--section-secodery-background);
  top: -40px;
  right: -30px;
}

@media (max-width: 767px) {
  .testimonails .container .box img {
    width: 80px;
    bottom: 0;
    border-width: 5px;
    right: -10px;
  }
}
.testimonails .container .box .name {
  font-size: 20px;
  margin-bottom: 8px;
}
.testimonails .container .box .title {
  color: #777;
}
.testimonails .container .box .rate {
  display: flex;
  margin: 8px 0;
  gap: 8px;
}
.testimonails .container .box .rate li i.full {
  color: #ffc107;
}
.testimonails .container .box .description {
  color: #777;
  line-height: 1.7;
}
/* End Testimonails */
/* Start Team-Members */
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 120px;
}
.team .container .box {
  position: relative;
  padding: 20px;
}
.team .container .box .image img {
  width: 400px;
  border-radius: 6px;
}
.team .container .box .info {
  position: absolute;
  right: -50px;
  top: -50px;
  width: calc(100% - 100px);
  height: calc(100% + 100px);
  background: var(--section-secodery-background);
  border-radius: 6px;
  z-index: -1;
  display: flex;
}

.team .container .box .info .icons {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(15%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.team .container .box .info .icons li a i {
  color: #777;
  font-size: 20px;
}
.team .container .box .info .meta-data {
  margin-top: auto;
  padding: 20px;
}

.team .container .box .info .meta-data .name {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 4px;
}

.team .container .box .info .meta-data .title {
  color: #777;
}
/* End Team-Members */
